<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>shaun mccormick :: <%= yield_content :generic_title %></title>

    <%= stylesheet_link_tag 'styles.css' %>
    <%= stylesheet_link_tag 'pygment_trac.css' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        <%= image_tag 'shaun.jpg', :width => '120', :class => 'avatar' %>
        <h2 class="name"><a href="/">shaun mccormick</a></h2>
        <p class="tagline">programming and software architecture</p>

        <p></p>

        <ul class="social">
          <li><%= link_to('portfolio','/portfolio/') %></li>
          <li><a href="http://splittingred.s3.amazonaws.com/resume.pdf">resume</a> (in <a href="https://github.com/splittingred/resume">gem form</a>)</li>
          <li><a href="http://linkedin.com/in/splittingred">linkedin</a></li>
          <li><a href="https://github.com/splittingred">github</a></li>
          <li><a href="http://twitter.com/splittingred">@splittingred</a></li>
          <li><a href="mailto:<%= obscure_email('splittingred@gmail.com') %>">email</a></li>
        </ul>

        <a class="button" href="mailto:<%= obscure_email('splittingred@gmail.com') %>">Contact Me</a>

        <!--
        <h3>Categories</h3>
        <ul class="tags">
          <% blog.tags.each do |tag, articles| %>
            <li><a href="tags/<%= tag %>"><%= tag %></a></li>
          <% end %>
        </ul>
        -->
      </header>
        <%= yield %>

      <footer>
        <p>&copy; 2010-2013 <a href="mailto:<%= obscure_email('splittingred@gmail.com') %>">shaun mccormick</a>. all rights reserved.</p>
      </footer>
    </div>
    <%= javascript_include_tag 'scale.fix' %>

  </body>
</html>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13101242-2");
pageTracker._trackPageview();
} catch(err) {}</script>